
.heading:nth-child(1){
    text-align: center;
}

.books{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.book{
    height:300px;
    width: 300px;
    background-color: grey;
}
.dialogOpen{
    display: block;
    margin: 0 auto 50px auto;

}
.footer{
    text-align: center;
}