
body{
    background-image: url('wooden-background.jpg');
}
.heading:nth-child(1){
    text-align: center;
}

.books{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.book{
    height:300px;
    width: 300px;
    background-color: grey;
}
.dialogOpen{
    display: block;
    margin: 0 auto 50px auto;

}
.footer{
    text-align: center; 
    padding-bottom: 10px;
}
.book{
    padding:20px;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgba(160, 107, 9, 0.425), rgb(92, 50, 6));

    opacity: 0.9;
}
.book:hover{
    opacity: 1;
}